%h2 Sign up

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification

  = f.input :name
  = f.input :email, :required => true, :autofocus => true
  = f.input :password, :required => true
  = f.input :password_confirmation, :required => true
  = f.input :address

  = f.input :role,
  :label => false,
  :collection => [['I need help shoveling', 'requester'], ['I want to shovel', 'shoveler']],
  :as => :radio_buttons

  .pop_down
    = f.label :old_or_disabled, 'Are you over 65 years old or disabled?'
    %br
    = f.check_box :old_or_disabled
    Yes, and I would like to have shovelers volunteer to help me remove snow from my driveway / sidewalks

  %br

  = f.button :submit, 'Sign up'

= render "devise/shared/links"
