%h1 All the requests

- @requests.each do |request|
  - if current_user.shoveler? || (current_user == request.requester)
    = link_to(request) do
      = request.requester.name
      = request.requester.street
      = request.requester.city
      = request.requester.state
      = request.requester.zipcode
      = request.job_size
      = request.offer
      %br
      %br
