- if current_user.requester?
  - if current_user.has_open_request?
    = render :template => 'dashboards/requester'
  - else
    = render 'form'

  %a.toggle{:href => '#'} Show past requests
  .past_requests
    - @requests.each do |request|
      - if current_user == request.requester && (request.complete? || request.expired?)
        = link_to request_path(request), :class => 'request' do
          = request.format_request(request)

- elsif current_user.shoveler?
  = render :template => 'dashboards/shoveler'
