- if current_user.requester?
  - if current_user.has_open_request?
    = render :template => 'dashboards/requester'
  - else
    = render 'form'

  - if current_user.past_requests.any?
    = link_to 'My past requests', '#', :class => 'toggle'
    .past_requests
      - current_user.past_requests.each do |past_request|
        = link_to request_path(past_request), :class => 'request' do
          - past_request.format_request(past_request)

- elsif current_user.shoveler?
  = render :template => 'dashboards/shoveler'
