%h2
  = @request.format_request(@request)
  - if current_user.shoveler?
    .show_request_distance
      %span.fontello c
      = "#{pluralize(current_user.distance_to(@request.requester.address).round(2), 'mile')} away"

.map_wrap
  #map

.chat
  %h3 Chat
  - if user_signed_in?
    %p
      - @request.comments.each do |comment|
        = "#{comment.user.name}: #{comment.body}"
        %br
  = render 'comments/form'


:javascript
  var map = L.mapbox.map('map', 'examples.map-4l7djmvo')
      .setView([#{@request.requester.latitude}, #{@request.requester.longitude}], 16);

  L.mapbox.markerLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [#{@request.requester.longitude}, #{@request.requester.latitude}]
    },
    properties: {
      title: 'Shovel me!',
      'marker-size': 'medium',
      'marker-color': '#F35A57'
    }
  }).addTo(map);
