%h2
  = @request.format_request(@request)
  = "#{current_user.distance_to(@request.requester.address).round(2)} miles away"

= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@request.requester.latitude}%2C#{@request.requester.longitude}"
/ %iframe{:src => @iframe_url, :width => 425, :height => 350, :frameborder => 0, :scrolling => }
/ %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=21+Hargrave+Cir,+Newton,+MA&aq=0&oq=21+&sll=42.31435,-70.970284&sspn=0.356946,0.727158&ie=UTF8&hq=&hnear=21+Hargrave+Cir,+Newton,+Massachusetts+02461&t=m&z=14&ll=42.329385,-71.209802&output=embed", :width => "425"}

- if current_user.shoveler?
  %h3
    = "Chat with #{@request.requester.name} to get started"
  %p When are you available to start?
  - if @request.for_money?
    %p

%p A chat will go here later
%p chat...
%p chat...
%p chat...
%p chat...
