!!!
%html
  %head
    %title Snowedin
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://api.tiles.mapbox.com/mapbox.js/v1.1.0/mapbox.css", :rel => "stylesheet"}
    %script{:src => "http://api.tiles.mapbox.com/mapbox.js/v1.1.0/mapbox.js"}
    = csrf_meta_tags

  %body
    .header
      .wrap
        = render 'shared/header'
    .notice_wrap
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => name
    .main
      .wrap
        = yield
    .footer
      .wrap
        = render 'shared/footer'

    = javascript_include_tag "application"

