!!!
%html
  %head
    %title Snowedin
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body
    .header
      = render 'shared/header'
    .flash
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => name
    .main
      = yield
    .footer
      = render 'shared/footer'

    = javascript_include_tag "application"

    .debug
      = debug(params) if Rails.env.development?
