!!!
%html
  %head
    %title Snowedin
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body
    .header
      .wrap
        = render 'shared/header'
    .wrap
      .notice_wrap
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => name
    .main
      .wrap
        = yield
    .footer
      .wrap
        = render 'shared/footer'

    = javascript_include_tag "application"

